@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Coustard);

body {
	font-family: 'Lora', Georgia, serif;
	font-size: 16px;
}

/* FONTS */
html, button, input, select, textarea, .toggle h4 { font-family: 'Lora', Georgia, serif; }
h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt { font-family:"Coustard", Georgia, serif; }


.dropcap:first-letter { float: left; color: #3276b1; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }

h4.about-quote {
	font-style: italic;
	position: relative;
	letter-spacing: 1px;
	left: 4px;
}

.avatar {
    margin-top: 25px;
}

span.site-tag a {
	display: inline-block;
	margin-right: 12px;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}

@media screen and (max-width: 600px) {
	.avatar {
		width: 100px;
		height: 100px;
	}

	.listImage {
		width: 100px;
	}
}

dt { margin-top: 30px; margin-bottom: 0px;}
dd { margin-top: 10px;}

.share-page {
	text-align: center;
	background: steelblue;
	color: white;
	padding: 8px 15px;
	border-radius: 5px;
	margin: 1.5px 0px;
}

.share-page a {
	font-weight: 700;
	color: #fff;
	margin-left: 10px;
}

.box {
    position:relative;
    height: 8.5em;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 20px;
    display: block;
    margin-top: 3px;
}

.tags{
	margin:0;
	padding:0;
	position:absolute;
	right:24px;
	bottom:-12px;
	list-style:none;
}
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
}
.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}
.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}

.tags a:hover{background:#555;}
.tags a:hover:before{border-color:transparent #555 transparent transparent;}


/* NAVIGATION */
.nav-pills { border-style:solid; border-width:1px 0; border-color: #eee; }

.nav-pills > li > a {
	border-radius:0px;
}

/* HEADER */
.site-header { padding-top:1.250em; padding-bottom: 3em; text-align:center; }


/* FOOTER */
.site-footer {
	padding-top: 60px;
	height:60px;   /* Height of the footer */
}

.site-footer > .row { border-top: 1px solid #eee; }


/* -------------------------------------------- */
/* TYPOGRAPHY */
/* headings and paragraphs */
h1 { font-size: 2.20em; margin: 0.8em 0 0.4em 0; }
h2 { font-size: 1.60em; margin: 1.4em 0 0.8em 0; }
h3 { font-size: 1.20em; margin: 1.0em 0 .6em 0; }
h4 { font-size: 0.90em; margin: 1.0em 0 .6em 0; }
h5 { font-size: 0.90em; margin: 1.0em 0 .8em 0; }
h6 { font-size: 0.85em; margin: 1.0em 0 .8em 0; }
p { margin: 1.2em 0; }

.social-icons {
	height: 50px;
    margin-bottom: 10px;
    with: 50px;
}

.social-icons li {
	display: inline;
	font-size: 26px;
}

.icon-list li {
	padding: 0 0 5px 20px;
	display: block;
	position: relative;
}
.icon-list li:before {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	left: 0px;
	top:1px;
	font-size:80%
}

.square-mark li:before {
	content: '\e074';
}

.media {
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}


.listImage {
	width: 12em;
	height: auto;
}

.dp {
    border:10px solid #eee;
    width: 100px;
    height:100px;
    transition: all 0.2s ease-in-out;
}

.carousel {
    position: relative;
}

/* Pseudo Play/Pause Toggle Button */
.btn.active {
    display: none;
}

.btn span:nth-of-type(1)  {
    display: none;
}
.btn span:last-child  {
    display: block;
}

.btn.active  span:nth-of-type(1)  {
    display: block;
}
.btn.active span:last-child  {
    display: none;
}

.media-control {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 20px;
    padding: 8px 15px;
    margin: 1.5px 0px;
}