@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body { padding-top: 20px; padding-bottom: 40px; font-family: 'Merriweather', Georgia, Times; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Merriweather', Georgia, Times; font-weight: 700;}

blockquote p { font-size: 16px; line-height: 1.6em; }

/* Masthead */
.header, .footer, .header h3 { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }

/* Navigation */
h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #0088cc; }

img.avatar { margin-bottom: 30px; }

/* Custom container */
.container > hr { margin: 30px 0; }
.container > hr.footer {margin-bottom: 15px; }

.listImage {
	width: 12em;
	height: auto;
}

.publications, .projects, .blog, .lectures, .about, .cv, .error { margin-bottom: 30px; }

/* Contact */
iframe {font-family: 'Merriweather', Georgia, Times; font-size: 16px;}

/* Code */
pre.prettyprint { padding: 10px !important; margin: 40px; font-size: 12px;}

.step { border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 35px;
	height: 35px;
	background: #4679BD;
	color: #FFF;
	float: left;
	text-align: center;
	font-size: 24px;
	padding-top: 5.5px;
	margin: 5px 15px 0px 0px;
	font-family: 'Montserrat', Helvetica, sans-serif; }


.github-icon-svg, .twitter-icon-svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}

.icon-grey {
    color: #C2C2C2
}

.username {
	font-family:  'Arial', Helvetica, sans-serif;
	font-size: 12px;
}

dt, dd { margin-top: 10px; }

/* Next/Prev pager */
.pager a {
	position:fixed;
	top:50%;
	z-index:101;
	margin-top:-30px;
	padding:20px 5px;
	height:100px;
	width:50px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	transition:background-color .2s;
	-moz-transition:background-color .2s;
	-webkit-transition:background-color .2s;
}

.pager a.prev {
	left:0%;
	border-radius:0px 3px 3px 0px;
}

.pager a.next {
	right:0%;
	border-radius:3px 0px 0px 3px;
}

.pager a { background-color:#444444; }
.pager a:hover { background-color:#222222; }
.pager .icon.prev { background-position:-80px -90px; }
.pager .icon.next { background-position:-100px -90px; }
.pager a:hover .icon.prev { background-position:-80px -70px; }
.pager a:hover .icon.next { background-position:-100px -70px; }
.pager .icon-arrow-left { position: fixed; left: 0; }
.pager .icon-arrow-right { position: fixed; }