/* https://google-webfonts-helper.herokuapp.com/fonts/ */

/* merriweather-300 - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		 url('../webfonts/merriweather-v28-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../webfonts/merriweather-v28-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-300italic - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
	src: local(''),
		 url('../webfonts/merriweather-v28-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../webfonts/merriweather-v28-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700 - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../webfonts/merriweather-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../webfonts/merriweather-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700italic - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	src: local(''),
		 url('../webfonts/merriweather-v28-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../webfonts/merriweather-v28-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../webfonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../webfonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../webfonts/open-sans-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../webfonts/open-sans-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ==========================================================================
	1. General - Setting up some base styles
	========================================================================== */

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	height: 100%;
    max-height: 100%;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
}

h1, h2, h3,
h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #2E2E2E;
    line-height: 1.15em;
    margin: 0 0 0.4em 0;
    font-family: "Open Sans", sans-serif;
}

p { margin: 0.7em 0; }


.dropcap:first-letter {
	float: left;
	color: #3276b1;
	font-size: 75px;
	line-height: 50px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: Georgia;
}

span.site-tag a {
	display: inline-block;
	margin-right: 12px;
}

/* Customize container */
@media (min-width: 900px) {
	.container {
		max-width: 950px;
	}
}

@media screen and (max-width: 630px) {
	.avatar {
		width: 100px;
		height: 100px;
	}
	.about-quote {
		font-size: 0.8em !important;
	}
}

dt { margin-top: 30px; margin-bottom: 0px;}
dd { margin-top: 10px;}

/* HEADER */
.site-header {
	padding-top:1.250em;
	padding-bottom: 3em;
	text-align:center;
}

/* FOOTER */
footer > .row { border-top: 1px solid #eee; }

.vertical-align {
    display: flex;
    align-items: center;
}

/* ==========================================================================
	2. Blog
	========================================================================== */

.post-title,
.post-date { text-align: center }
.post-date {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hrline {
    background: #ddd;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(#ccc),to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    height: 1px;
    margin: 2.5em 0;
}

.blog-section {
	padding-top: 20px;
}

.box {
    position:relative;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 20px;
    display: block;
    margin-top: 3px;
}

.tags {
	margin:0;
	padding:0;
	position:absolute;
	right:24px;
	bottom:-12px;
	list-style:none;
}
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
}
.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

.tags a:before {
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}

.tags a:after {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}

.tags a:hover {
	background:#555;
}

.tags a:hover:before {
	border-color: transparent #555 transparent transparent;
}

.social-icons {
	height: 50px;
    margin-bottom: 10px;
    with: 50px;
}

.social-icons li {
	display: inline;
	font-size: 26px;
}

.square-mark li:before {
	font-family: 'FontAwesome';
	content: '\f101';
	padding-left: 25px;
	color: black;
}

.media {
    margin: 20px 0;
    padding:30px;
}

blockquote.callout {
    margin: 1.5em 0;
    padding: 0;
    border: none;
    border-left: none;
    font-style: normal;
}

blockquote.callout p {
    margin: 0;
    padding-left: 2em;
}

blockquote.callout::before,
blockquote.callout::after {
    display: block;
    font-family: monospace;
    font-size: 0.9em;
    color: #666;
}

blockquote.callout-aside::before { content: "<aside>"; }
blockquote.callout-aside::after { content: "</aside>"; }

blockquote.callout-tip::before { content: "<tip>"; }
blockquote.callout-tip::after { content: "</tip>"; }

blockquote.callout-tease::before { content: "<tease>"; }
blockquote.callout-tease::after { content: "</tease>"; }

blockquote.callout-fact::before { content: "<fact>"; }
blockquote.callout-fact::after { content: "</fact>"; }
