---
layout: page
title: Projects
description: Project site
permalink: /projects/
---
<div class="projects">
    <div class="row">
        <div class="col-md-12">
            <h2>Recent Projects</h2>
            <ul>
                {% for project in site.data.projects %}
                    {% if project.active %}
                        <li>
                            <p>
                                <strong>{{ project.title }}</strong>: {{ project.subtitle }}
                            </p>
                            <p>
                                {{ project.description }}
                            </p>

                            <ul class="list-unstyled">
                                <li><span class="fw-bold">Project duration:</span> {{ project.duration }}</li>
                                <li><span class="fw-bold">Project page:</span> {{ project.page }}</li>
                                <li><span class="fw-bold">Role:</span> {{ project.role }}</li>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-12 blog-section">
            <h2>Past Projects</h2>
            <ul>
                {% for project in site.data.projects %}
                    {% if project.active != true %}
                        <li>
                            <p>
                                <strong>{{ project.title }}</strong>: {{ project.subtitle }}
                            </p>
                            <p>
                                {{ project.description }}
                            </p>

                            <ul class="list-unstyled">
                                <li><span class="fw-bold">Project duration:</span> {{ project.duration }}</li>
                                <li><span class="fw-bold">Project page:</span> {{ project.page }}</li>
                                <li><span class="fw-bold">Role:</span> {{ project.role }}</li>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div> <!-- .projects -->
