---
layout: page
title: Projects
projects: active
description: Project site
permalink: /projects/
---
<div class="projects">
    <!--TODO: Add index for projects click on and scroll-->

    {% for project in site.data.projects %}

        <div class="panel panel-info">
            <div class="panel-heading"><h4 class="panel-title">{{ project.title }}</h4></div>
            <div class="panel-body">
                {% if project.image %}
                    <img class="img-responsive" src="../img/{{ project.image }}">
                {% endif %}
                <p>{{ project.description | markdownify }}</p>

                <dl>
                    {% if project.thanks %}
                        <dt><span class="fa fa-star"></span> Acknowledgement</dt>
                        <dd>{{ project.thanks }}</dd>
                    {% endif %}

                    <dt><span class="fa fa-wrench"></span> Toolstack</dt>
                    <dd>
                        {% assign tools = project.tools | split: ', ' %}
                        {% for tool in tools %}
                            <span class="label label-warning">{{ tool }}</span>
                        {% endfor %}

                    </dd>

                    <dt><span class="fa fa-group"></span> Position</dt>
                    <dd>{{ project.position }}</dd>

                    <dt><span class="fa fa-user"></span> Responsibilities</dt>
                    <dd>{{ project.tasks }}</dd>
                </dl>
            </div>
            <div class="panel-footer panel-default">
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> {{ project.time }}</span></li>
                    <li>|</li>
                    <li>
                        <span class="fa fa-home"></span>
                        <a href="{{ project.website }}">Project Site</a>
                    </li>
                    <li>|</li>
                    <li>
                        <span class="fa fa-github"></span>
                        <a href="https://github.com/{{ project.github }}">View on GitHub</a>
                    </li>
                    <li>|</li>
                    <li>
                        <span class="fa fa-download"></span>
                        <a href="{{ project.url }}">Download</a>
                    </li>

                    {% if project.facebook %}
                        <li>|</li>
                        <li>
                            <span class="fa fa-facebook-square"></span>
                            <a href="{{ project.facebook }}">FB</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endfor %}

</div> <!-- .projects -->
