<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Uli Fahrer">

	<title>{{ page.title }} Uli Fahrer - Developer</title>

	<link rel="shortcut icon" href="/img/sys-command.ico">

	<!-- STYLES -->
	<link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
    	<script src="/js/html5shiv.min.js"></script>
    	<script src="/js/respond.min.js"></script>
	<![endif]-->

</head>
