<div class="site-header">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/"><i class="fa fa-code"></i> Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/publications" title="Publications">Publications</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/projects" title="Projects">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blog" title="Projects">Blog</a>
				</li>
			</ul>
		</div>
	</div>
</div>
