<div class="site-header">
	<div class="row col-md-12">
		<nav class="navbar navbar-expand navbar-light bg-light py-3">
			<div class="container-fluid">
				<span class="navbar-brand mb-0">
					<i class="fa fa-code"></i>
				</span>
				<div class="navbar-collapse">
				<ul class="navbar-nav me-auto mb-0 gap-1">
					<li class="nav-item">
						<a class="nav-link px-3 py-2" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3 py-2" href="/publications/">Publications</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3 py-2" href="/projects/">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3 py-2" href="/blog/">Blog</a>
					</li>
				</ul>
				<span class="navbar-text d-none d-lg-block">
					DevSecOps-minded Software Engineer
				</span>
				</div>
			</div>
		</nav>
	</div>
</div>
