<div class="card my-4">
    <div class="card-header">
        <h3 class="card-title">{{ include.headline }}</h4>
    </div>
    <div class="card-body">
        <ol>
            {% for publication in include.publications reversed %}
                {% if publication.type == include.type %}
                <li>
                    <p class="card-text">
						<span class="fw-semibold">{{ publication.title }}</span> </br>
                        {{ publication.author }}</br>
                        In: <em>{{ publication.booktitle }}</em>,
                        {% if publication.pages %}
                        pages {{ publication.pages }},
                        {% endif %}
                        {{ publication.location }}, {{ publication.month }} {{ publication.year }} (<a href="{{ publication.url }}">pdf</a>).
                    </p>
                    <p>
                        {% if publication.meta %}
                            {{ publication.meta }}
                        {% endif %}
                    </p>
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>
