<div class="panel panel-info">
    <div class="panel-heading"><h4 class="panel-title">{{ include.headline }}</h4></div>
    <div class="panel-body">
        <ol>
            {% for publication in include.publications reversed %}
                {% if publication.type == include.type %}
                <li>
                    <p><small>
						{{ publication.title }} </br>
                        {{ publication.author }} ({{ publication.year }}) </br>
                        In: <em>{{ publication.booktitle }}</em>, 
                        {% if publication.pages %}
                        pages {{ publication.pages }},
                        {% endif %}
                        {{ publication.publisher }} (<a href="{{ publication.url }}">pdf</a>).
                    </small></p>
                    <p>
                        {% if publication.meta %}
                            {{ publication.meta }}
                        {% endif %}
                    </p>
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>



