<div class="publication-section my-4">
    <h2 class="mb-3">{{ include.headline }}</h2>

    {% for publication in include.publications reversed %}
        {% if publication.type == include.type %}
        <div class="bg-light rounded p-3 mb-3">
            <p class="mb-2 mt-0 fw-bold">{{ publication.title }}</p>
            <p class="mb-2 mt-0">
                {{ publication.author }}
            </p>
            <p class="mb-1">
                {% if publication.booktitle %}
                In: <em>{{ publication.booktitle }}</em>,
                {% endif %}
                {% if publication.pages %}
                pages {{ publication.pages }},
                {% endif %}
                {{ publication.location }}, {{ publication.month }} {{ publication.year }}
                {% if publication.url %}
                (<a href="{{ publication.url }}">pdf</a>)
                {% endif %}
            </p>
            {% if publication.meta %}
            <p class="text-muted mb-0 small">
                {{ publication.meta }}
            </p>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>
