<!-- javascript at the end of the doc so page loads faster -->

<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Vanilla JS for navbar active state toggle -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // make all currently active items inactive
        document.querySelectorAll("a.nav-link.active").forEach(li => {
            li.classList.remove("active");
            li.attributes.removeNamedItem("aria-current");
        });

        // find the link to the current page and make it active
        document.querySelectorAll(`a[href="${location.pathname}"].nav-link`).forEach(a => {
            a.classList.add("active");
            a.setAttribute("aria-current", "page");
        });
    });
</script>