---
layout: blog-overview
title: Blog
description: Blog
permalink: /blog/
---

<div class="blog">
    {% for post in site.posts %}
        <!-- TODO: resolve code duplication: see tag-page.html -->
        <div class="row blog-section">
            <div class="col-md-12 d-none d-sm-block">
                <h3 class="fw-bold">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>
                <p class="text-muted mb-3">
                    <i class="fa fa-calendar me-2"></i>{{ post.date | date: "%B %e, %Y" }}
                </p>

                <div class="box">
                    <p>
                        {{ post.summary }} <a href="{{ post.url }}">Read more</a>
                    </p>
                    <ul class="tags">
                        {% for tag in post.tags %}
                            <a href="/tag/{{ tag }}/" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
                            <!-- {% if forloop.last != true %} {% endif %} -->
                        {% endfor %}
                    </ul>
                </div>
                <div class="hrline"></div>
            </div>

            <div class="col-12 d-block d-sm-none d-print-none">
                <h3>
                    <a class="fw-bold" href="{{ post.url }}">{{ post.title }}</a>
                    <span class="fw-light">({{ post.date | date_to_string }}) - {{ post.tags | join: ", "}}</span>
                </h3>
            </div>
        </div>
    {% endfor %}
</div>
