---
layout: default
---
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>

        <div class="col-md-12">
            <h2>About the Author</h2>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="img-circle dp" src="/img/me_thumbnail.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Uli Fahrer <small> Germany</small></h4>
                    <h5>CS Student <a href="http://www.tu-darmstadt.de">TU Darmstadt</a></h5>
                    <hr style="margin:8px auto">

                    <span class="label label-default">Software Development</span>
                    <span class="label label-default">NLP</span>
                    <span class="label label-info">Machine Learning</span>
                    <span class="label label-default">Ebass</span>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <h2>Read More Recent Posts</h2>
            <ul class="list-unstyled icon-list square-mark">
                {% for post in site.posts limit:3 %}
                    {% if post.title != page.title %}
                    <li>
                        <a href="{{post.url}}">{{ post.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-12">
            <div class="share-page">
                Share this on &rarr;
                <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
                <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
            </div>
            <br/>
            <p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; Previous Blog Post</a> 	{% endif %}  |  <a href="#">Back to top</a>  |  {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">Next Blog Post &raquo; </a> 	{% endif %} </p>
        </div>

        {% if page.comments %}
            <div class="col-md-12">
                <h2>Comments Section</h2>
                <p>Feel free to comment on the post but keep it clean and on topic.</p>
                {% include disqus.html %}
            </div>
        {% endif %}
    </div>
</div>