---
layout: blog-overview
---

<h2>{{page.title}}</h2>
{% for post in site.tags[page.tag] %}
    <div class="row blog-section">
        <div class="col-md-12 hidden-xs hidden-sm">
            <h3>
                <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
            </h3>
            <i class="fa fa-calendar"></i> {{ post.date | date: "%B %e, %Y" }}

            <div class="box">
                <p>
                    {{ post.summary }} <a href="{{ post.url }}">Read more</a>
                </p>
                <ul class="tags">
                    {% for tag in post.tags %}
                    <a href="/tag/{{ tag }}/" rel="tooltip"
                       title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
                    {% if forloop.last != true %} {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="col-xs-12 hidden-md hidden-lg hidden-print">
            <h3><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></h3>
        </div>
    </div>
    <div class="hrline"></div>
{% endfor %}