---
layout: page
title: Publications
description: publications site
permalink: /publications/
---
<div class="row">
  <div class="col-md-12">
    <h1>Publications</h1>
    <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
      <span class="text-muted">Selected publications and academic contributions. View all publications and citations on my Google Scholar profile.</span>
      <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=hZMWg78AAAAJ" target="_blank" class="text-muted text-decoration-none text-nowrap">
        <i class="fas fa-graduation-cap me-1"></i> Google Scholar
      </a>
    </div>
    <hr class="mt-4 mb-3"/>
  </div>
</div>

<div class="publications">

	{% assign sorted_workshops = site.data.publications | sort: 'year' %}

	{% include publication-list.html publications=sorted_workshops type="demo" headline="System Demonstration Paper" %}

	{% include publication-list.html publications=sorted_workshops type="workshop" headline="Workshop Proceedings" %}

	{% include publication-list.html publications=sorted_workshops type="book" headline="Other Contributions" %}
</div> <!-- .publications -->
