---
layout: page
title: Publications
publications: active
description: publications site
permalink: /publications/
---

<div class="publications">

	<div class="card mb-4 border-0 shadow-sm">
		<div class="card-body">
			<div class="row align-items-center g-3">
				<div class="col-auto">
					<img src="https://scholar.google.com/citations/images/avatar_scholar_150.jpg" class="rounded" width="60" height="60" alt="Google Scholar">
				</div>
				<div class="col d-flex flex-column justify-content-center">
					<h5 class="mb-1">
						<a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=hZMWg78AAAAJ" class="text-decoration-none" target="_blank">
							Google Scholar Profile
						</a>
					</h5>
					<p class="text-muted mb-0 small">View all publications and citations</p>
				</div>
			</div>
		</div>
	</div>

	{% assign sorted_workshops = site.data.publications | sort: 'year' %}

	{% include publication-list.html publications=sorted_workshops type="demo" headline="System Demonstration Paper" %}

	{% include publication-list.html publications=sorted_workshops type="workshop" headline="Workshop Proceedings" %}

	{% include publication-list.html publications=sorted_workshops type="book" headline="Other Contributions" %}
</div> <!-- .publications -->
